body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color:lightgray;
}

nav {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

#logo {
    font-family: 'Limelight', cursive;
    font-size: 2em;
}

#menu {
    display: none;
}

#menu div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px 0px;
}

#links a {
    margin: 0px 5px;
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 8px;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

a {
    cursor: pointer;
}

#links a:hover {
    background-color: white;
    color: black;
}

.box {
    width: 400px;
    background-color: rgb(35, 31, 32);
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}

.opacity {
    opacity: 0.5;
}